{%load staticfiles%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Arcadia</title>
        <link rel ="stylesheet" type =  "text/css"  href="{% static 'projectx/css/index.css'%} "/>
    </head>

<body>
  <div class="w-section header">
    <h1>Arcadia</h1>
    <h1 class="header2">Projectx</h1>
  </div>
  <div class="w-section section1">
    <div class="w-container container1"></div>
    <div class="reference"><strong><em>Designed by Arcadia</em></strong>
    </div>
  </div>
 
</body>

